#burger-img {
    height: 250px;
    width: auto;
 }
 
 .burger-row {
    height: 40px;
    line-height: 20px;
 }
 
 .burger-text {
    width: 80%;
    vertical-align: middle;
    display: inline-block;
    text-overflow: clip;
 
 }
 
 .burger-row button {
    height: 40px;
    background-color: red;
 }

 #burger-col, #devoured-col {
    margin-left: 20px;
 }

